.card {
    display: grid;
    grid-template-areas: 
        "image name name" 
        "image type type" 
        "button button button";
        background-color: var(--dark);
        border-radius: 2em;
        padding: 2em;
}

.image {
    width: 5em;
    grid-area: image;
}
.name {
       grid-area: name;
       color: var(--white);
}
.type {
    grid-area: type;
}
.type p {
    border-radius: 2em;
    text-align: center;
    padding: .2em;
    margin: .5em;
}
.button {
    grid-area: button;
}
.button img {
    width: 2em;
}
.button:hover div {
    background-color: var(--grey);
    transition: .5s;
}
.button div {
    background-color: var(--black);
    border-radius: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: .2em;
}
.button button {
    background-color: transparent;
    border: none;   
    color: var(--white);
}