#detail{
    display: flex;
    justify-content: center;
    padding-top: 5em;
    color: var(--white);
}

.text-container {
    display: grid;
    grid-template-columns: .6fr .4fr;
    margin: 0;
}

.text-container p, .text-container small {
    padding-left: 3.5em;
}

.titles-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pokemon-image img {
    width: 200px;
    height: auto;
}

.about-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.elem {
    margin-bottom: 5em;
}

.elem h3, h5 {
    text-align: center;
}

.others-container > div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.sprite-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.generation-container {
    display: grid;
    grid-template-columns: .3fr .7fr;
    margin: 2em 0;
}
.generation-container > div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.generations-column {
    display: flex;
    flex-direction: column;
}

.move-container {
    padding: 1em 0;
    margin: 2em 0;
    border-radius: .5em;
}
.move-name {
    font-weight: bolder;
    font-size: 1.2em;
}

.move-details {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.move-container p {
    text-align: center;
    margin: .5em 0;
}

.move-container .first {
    font-weight: bold;
}

.stats-container {
    padding: 2em;
    border-radius: .5em;
}

.stats-container h3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.stat-detail {
    display: grid;
    grid-template-columns: .7fr 1fr .3fr;
    text-align: start;
    margin: 1em;
}

.stat-detail p, .stat-detail small {
    padding-left: 3em;
}

.stat-range {
    margin: .1em 0;
}

.sprite-container img {
    width: 100px;
    height: auto;
}

.others-container, .generations-column {
    margin: 4em 0;
}

.others-container div, .generations-column {
    color: var(--black);
}

.generation-container, .others-container div {
    margin: 1em 0;
    border-radius: .5em;
    padding: 1em;
}

.generation-title {
    text-align: center;
    align-self: center;
}