#detail{
    display: flex;
    justify-content: center;
    padding-top: 5em;
}

.image-container img {
    width: 150px;
    height: auto;
}

.pokemon-container {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr; 
    gap: 3em 5em; 
    grid-template-areas: 
      "titles-container about-container"
      "stats-container moves-container"
      "sprites-container sprites-container"; 
}

.titles-continer {
    grid-area: titles-continer;
}

.about-container {
    grid-area: about-container;
}

.stats-container {
    grid-area: stats-container;
}

.moves-container {
    grid-area: moves-container;
}

.sprites-container {
    grid-area: sprites-container;
}

.others-container {
    display: flex;
    flex-direction: row;
}

.generations-pokemon {
    display: flex;
    flex-direction: row;
}