#detail{
    display: flex;
    justify-content: center;
    padding-top: 5em;
}

.pokemon-image img {
    width: 200px;
    height: auto;
}

.others-container > div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.sprite-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.generation-container {
    display: flex;
    flex-direction: column;
}

.generation-container > div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.text-container {
    margin: 2em;
}

h1, p, h3 {
    text-align: center;
    line-height: 1.5em;
}
.text-container small {
    padding-left: 1.5em;
}

.move-container {
    display: grid;
    border: 1px solid black;
}

.move-details {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.stat-detail  {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: start;
}

.sprite-container img {
    width: 100px;
    height: auto;
}