#pokemon-gotta-catch-them-all {
    width: 20em;
    margin: 5em 0
}

#pokemons {
    min-height: 46.8em;
    max-height: auto;
    background-color: var(--medium);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.grid {
    margin: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2em 5em;
}

.pagination {
    margin-bottom: 3em;
}

.pagination-buttons  {
    background-color: var(--dark);
    font-size: 1em;
    padding: .8em;
    border-radius: 2em;
    margin: 0 2em;
    color: var(--white);
}