.search input {
    padding: .5em;
    border-radius: 2em;
    border: none;
}
.search button {
    background-color: var(--dark);
    padding: .5em;
    border-radius: .8em;
    border: none;
    color: var(--white);
    margin-left: .5em;
}

.search button:hover {
    background-color: var(--light);
    color: var(--black);
    transition: .5s;
}