.flex-row {
    display: flex;
    flex-direction: row;
}

.links {
    text-decoration: none;
    color: var(--white);
    font-weight: bold;
}

a, button {
    cursor: pointer;
    text-decoration: none;
}
p,h1,h2,h3,h4,h5,h6 {
    cursor:default;
}

.jc-sb {
    justify-content: space-between;
}

.item {
    margin: 1em;
}