* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

:root {
    --light: #FFCB05;
    --medium: #3D7DCA;
    --dark: #003A70;
    --white: #f5f5f5;
    --black: #191919;
    --red: #E3350D;
    --grey: #424242;
    --type-bug: #94bc4a,
    --type-dark: #736c75,
    --type-dragon: #6a7baf,
    --type-electric: #e5c531,
    --type-fairy: #e397d1,
    --type-fighting: #cb5f48,
    --type-fire: #ea7a3c,
    --type-flying: #7da6de,
    --type-ghost: #846ab6,
    --type-grass: #71c558,
    --type-ground: #cc9f4f,
    --type-ice: #70cbd4,
    --type-normal: #aab09f,
    --type-poison: #b468b7,
    --type-psychic: #e5709b,
    --type-rock: #b2a061,
    --type-steel: #89a1b0,
    --type-water: #539ae2,
}

