* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

:root {
    --light: #FFCB05;
    --medium: #3D7DCA;
    --dark: #003A70;
    --white: #f5f5f5;
    --black: #191919;
    --red: #E3350D;
}